<div class="bg1 full1">
    <div class="row full">
        <div class="col center">
            <div>
                <div class="text-center">
                    <img class="me" src="../../assets/img/me.jpg" alt="image">
                </div>
                <div class="font3 mt-2">
                    - Hello, i'm Noah Oladele <br>
                    - This is a blog app. <br>
                    - Technology : <b>MEAN</b> stack <br>
                    - source is avilable at <a href="https://github.com/noahssark?tab=repositories">Github</a>. <br>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>